*{
	padding: 0px;
	margin: 0px;
	text-emphasis: none;
	text-decoration: none;
 list-style: none ;
}

body {
 background-color: white;
}

.navigationBar
{
	background:#f2f2f2;
  width :100%;
	height: 70px;
}
 .topNav img
 {
    margin-top: 25px;
    margin-left: 30vh;
    width :80px;
	height: 20px;
  
}
.topNav ul
{
	float: right;
  margin-top: 30px;
	margin-right:30vh;

}
nav ul li
{
	display: inline-block;
	margin-right:30px;

	font-size:18px;
}
nav ul li a
{
color: Black;
text-transform: uppercase;

}
.active,nav ul li a:hover{
	border: 1px solid black;
}



.firstRow{
	background: #000066;
	height: 500px;
	width: auto;
}
.firstContainer{
	padding-bottom: -2000px;
	display: flex;
	justify-content: center;
	height: 450px;
	width: 71.9%;
	margin: 0px 29vh;
}
.firstRowTxt{
	height: inherit;
	width: 53%;
	margin-top: 20vh;
}
.firstRowTxt h1,p{
  color: white;
  padding-top: 15px;
}
.firstRowTxt button{
  height: 40px;
  width: 130px;
  margin-top: 10px;
  box-shadow: none;
  background: transparent;
  border: 1.5px solid white;
}
.firstRow img {
	height: 550px;
	width: 47%;
	margin-top: 12vh;
}



.secondRow
{
 
  background: #ffff;
  width :100%;
  height: 600px;
margin-top:250px;
margin-bottom: 100px;

}

.secondContainer
{
  width :71.9%;
	height: 600px;
	margin: 0px 29vh;

}
#midLine{
width: 130px;
height: 70px;
margin-top: -75px;
border-bottom: 1px solid gray;
position: absolute;
}
.secondContainer ul{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.secondContainer ul li p{
color: #b3b3cc;
}


.findMore{
	width: 100%;
	height: 150px;
	color: white;
	margin-top: 50px;
	background: #000066;
}
.findMore h1{
	padding-left: 40px;
	padding-top: 40px;
}
.findMore button{
  float: right;
  height: 40px;
  width: 130px;
  margin: 60px 40px;
  box-shadow: none;
  background: transparent;
  border: 1.5px solid white;
}

.thirdRow
{
  background: #f2f2f2;
  width :100%;
  height: 250px;
}
.thirdContainer
{
	width: 71.9%;
	height: 100px;
	margin: 0px 28vh;
	padding-top: 40px;
}
.thirdContainer ul
{
 float: right;
}
.thirdContainer ul li
{
  display: inline-block;
  z-index: 10;
}
.thirdContainer ul li img
{
  margin-left: 10px;
  width :20px;
  height: 20px;
}

..details{
    width: 95%;
}
.details ul{
  margin-top: 40px;
   display: flex;
	justify-content: space-between;
}
.details ul li{
	display: inline-block;
  padding-right: 145px;

}
.details ul li h5{
	color: gray;
	font-size: 12px;
	font-weight: bold;
}
.details ul li a{
	color: black;
	font-size: 12px;
	font-weight: bold;
}
#topline{
width: 130px;
height: 70px;
margin-top: -75px;
border-bottom: 1px solid gray;
position: absolute;
}
#midLine{
width: 130px;
height: 70px;
margin-top: -75px;
border-bottom: 1px solid gray;
position: absolute;
}

#buttomLine{
width: 71.9%;
height: 47px;
margin-top: -30px;
border-bottom: 1px solid gray;
position: absolute;
}
.designe1{
	width: 100%;
 	position: absolute;
}
.designeImg1 {
 float: right;
 height: 430px;
 width: 400px;
}
.designeImg2 {
	 height: 430px;
 width: 150px;
 padding-top: 345px;
}
.designe2{
	height: inherit;
	width: 71.9%;
 	position: absolute;
}
.designeImg3 {
 float:right;
 height: inherit;
}
.designeImg4 {
  position: absolute;
 height: 230px;
 width: 430px;
 z-index: 0;
}
